.peculiarities {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.peculiarities__item {
  & + & {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.peculiarities__box {
  @include flexcenter();
  background-color: #f5f4fa;
  padding: 25px 0px;
  border-radius: 4px;
}

.peculiarities__title {
  margin-top: 30px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.peculiarities__text {
  margin-top: 10px;
}
