.section--only-desktop {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.working {
  display: flex;
  margin-top: 50px;
}

.working__item + .working__item {
  margin-left: 30px;
}

.working__thumb {
  position: relative;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.working__text {
  padding: 27px 0;

  font-weight: 700;
  line-height: 1.42;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);

  position: absolute;
  width: 100%;
  bottom: 0;
}
