.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo__animation {
  animation: rotateY 3000ms infinite alternate backwards ease-in-out 1000ms;
}

.logo__accent {
  color: var(--accent-color);
}
